.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 2rem;
  padding: 2rem;
  width: 40vw;
}

.form-container {
  display: flex;
}

.Home {
  margin: 3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
}

.unenrolled-students {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 2rem;
  padding: 2rem;
  width: 25vw;
}

.school-div {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 2rem;
  padding: 2rem;
  width: 25vw;
  align-items: center;
}

.enrolled-student {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
}

.update-page {
  display: flex;
  margin: 2rem;
  padding: 2rem;
  border: 1px solid black;
  flex-direction: column;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.update-form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  justify-content: space-between;
}
