.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 14rem;
  margin: 2rem;
  padding: 2rem;
  /* justify-content: center; */
}

.form-container {
  display: flex;
  height: 12rem;
}

.App {
  margin: 3rem;
}
